* {
    margin: 0 !important;
    padding: 0;
    box-sizing: border-box;

}


header nav {
    height: 15vh;
    width: 100%;
    /*position: fixed;*/
}

header .navbar-brand {
    text-shadow: 1px 1px 3px black;
    font-size: x-large;
    margin-left: 60px;
}

header .navbar-nav .nav-item {
    font-weight: bold;
    font-size: larger;
}


/**********MAIN***************/
.content {
    background-image: url('TajMahalBG.jpg');
    background-size: 100% 100%;
    height: 100vh;
}

.content h3 {
    letter-spacing: 3px;
    font-weight: 500;
}

.content #btn1 {
    background-color: honeydew;
    color: black;
    letter-spacing: 3px;
    border-color: black;
    box-shadow: 2px 2px 2px rgb(3, 3, 3);
}

#btn1:hover {
    background-color: #00B894;
    color: rgb(254, 250, 250);
    letter-spacing: 3px;
    border-color: black;
    box-shadow: 2px 2px 2px black;
}

.content #btn2 {
    background-color: #00B894;
    color: rgb(254, 250, 250);
    letter-spacing: 3px;
    border-color: black;
    box-shadow: 2px 2px 2px black;
}

#btn2:hover {
    background-color: honeydew;
    color: black;
    letter-spacing: 3px;
    border-color: black;
    box-shadow: 2px 2px 2px rgb(3, 3, 3);
}

.content #places{
    color: #00B894;
    font-weight: bolder;
    text-shadow: 5px 5px 8px black;
}

/***************GALLERY***************/

#demo {
    margin-top: 50px;
}

.gallery {
    padding: 5px;
    box-shadow: 5px 5px 20px black;
    background-color: rgb(252, 253, 253);
    /* height: 100px; */
    width: 50%;
    /* margin-top: 150px; */
    /* margin-left: 330px; */
}

.gallery h1 {
    color: #00B894;
    font-weight: bolder;
    text-align: center;
    margin-top: 18px;
    text-shadow: 3px 3px 3px rgb(7, 7, 7);
}

.carousel img {
    box-shadow: 8px 8px 10px rgb(252, 185, 15);
}

.carousel .carousel-item img {
    display: block;
    margin: auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 500px;
    width: 100%;
}

.carousel-item h1 {
    text-shadow: 2px 2px 8px rgb(110, 63, 3);
}

/***************ABOUT****************/
.about {
    padding: 5px;
    box-shadow: 5px 5px 20px black;
    background-color: rgb(252, 253, 253);
    width: 50%;
}

.about h1 {
    color: #00B894;
    font-weight: bolder;
    text-align: center;
    margin-top: 18px;
    text-shadow: 3px 3px 3px rgb(7, 7, 7);
}


/*************CONTACT US****************/

.BG {
    background-image: url('BG.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 3rem;
}

@media (min-width:320px) and (max-width:425px){
    
}